.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu__buttons button {
    margin: 0 10px;
}

.menu__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}