.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tg-theme-bg-color);;
    padding: 10px;
    border-radius: 50px;
}

.menu__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu__buttons button {
    margin: 0 10px;
    border-radius: 300px;
    padding: 8px 12px;
    background-color: white;
    color: black;
    border: none;
}

.menu__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}