.admin-panel {
    background-color: var(--tg-theme-bg-color);
    padding: 20px;
    color: var(--tg-theme-text-color);
}

.admin-panel h2 {
    margin-bottom: 10px;
}

.food-form {
    margin-bottom: 20px;
}

.food-form input {
    margin: 5px 0;
}

.food-list {
    border: 1px solid #ccc;
    padding: 10px;
}

.food-list ul {
    padding: 0;
}

.food-list li {
    list-style-type: none;
    margin-bottom: 5px;
}

.food-list button {
    margin-left: 10px;
}

.admin-button,
.return-button {
    margin-top: 10px;
}