body{
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading{
  text-align: center;
}
.circle-img-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Задайте желаемый отступ сверху */
}

.circle-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#menu {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.menu-item {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.search-bar {
  margin-top: 10px;
}

.search-bar input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}